@import 'tailwindcss' source('../');
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}
